<template>
  <div id="app">
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col">
            <router-link to="/" class="logo">Logo</router-link>
          </div>
          <div class="col">
            <mini-cart />
          </div>
        </div>
      </div>
    </header>
    <div class="main">
      <router-view/>
    </div>
  </div>
</template>
<script>
import MiniCart from '@/components/MiniCart.vue'
export default {
  name: 'app',
  components: {
    'mini-cart': MiniCart
  },
  created() {
      this.$store.dispatch('loadProducts')
  }
}
</script>
<style lang="scss">
.header {
  background: #ccc;
  padding: 15px 0;
}
.logo{ 
  font-size: 22px;
  padding: 10px;
}
.align-right {
  margin-left: auto;
  margin-right: 0;
}
.main {
  padding: 25px 0;
}
h1, h2 {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
}
.btn-products {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 420px) {
  .header {
    text-align: center;
    .col {
      min-width: 100%;
    }
  }
}
</style>
