<template>
    <div class="filter">
        <div class="filter-block price">
            <div class="filter-title">Price</div>
            <vue-range-slider ref="slider" :min="min" :max="max" :real-time="realtime" v-model="price"></vue-range-slider>
        </div>
        <div class="filter-block">
            <div class="filter-title">Categories</div>
            <select v-model="filterCategory" class="form-control" placeholder="Select a category">
                <option v-for="category of categories" :key="category" :value="category">{{ category }}</option>
            </select>
        </div>
        <div class="filter-block" v-for="option of options" :key="option.title">
            <div class="filter-title">{{ option.title }}</div>
            <label class="checkbox" :for="option.title + '_' + value" v-for="value of option.values" :key="value">
                <input :id="option.title + '_' + value" type="checkbox" value="check1" @change="changeParams(option.title, value)">
                <span class="checkbox"></span>
                <span>{{ value }}</span>
            </label>
        </div>
        <button class="btn btn-secondary" @click="productsFilter">Filter</button>
    </div>
</template>
<script>
import 'vue-range-component/dist/vue-range-slider.css'
import VueRangeSlider from 'vue-range-component'


export default {
    name: 'filter-products',
    data() {
        return { 
            products: [],
            categories: [],
            filterCategory: "",
            options: [],
            filterParams: {},
            price: [],
            min: 0,
            max: 0,
            realtime: true
        }
    },
    components: {
        VueRangeSlider
    },
    created() {
        this.$store.dispatch('loadProducts').then(response => {
            this.products = response;
            this.getPrice();
            this.getCategories();
            this.getOptions();
        })
    },
    methods: {
        changeParams(categoryOption, valueOption) {
            let carentCategory = this.filterParams[categoryOption];
            if(carentCategory && carentCategory.length > 0) {
                if(!carentCategory.includes(valueOption))  {
                    this.filterParams[categoryOption].push(valueOption)
                } else {
                    let indexOption = this.filterParams[categoryOption].findIndex( currentValue => currentValue == valueOption );
                    this.filterParams[categoryOption].splice(indexOption, 1);
                }
            } else {
                this.filterParams[categoryOption] = []
                this.filterParams[categoryOption].push(valueOption)
            }
        },
        productsFilter() {
            let minPrice = this.price[0];
            let maxPrice = this.price[1];

            let filterPriceProducts = this.products.filter(product => {
                return product.price >= minPrice && product.price <= maxPrice
            })

            let filterCategory = this.filterCategory;
            let fiterCategoryProducts = filterPriceProducts.filter(product => {
                return product.category == filterCategory
            })

            let paramsKey = Object.keys(this.filterParams);
            let filterProducts = [];

            paramsKey.forEach(key => {
                let products = [];
                let prod = [];
                if(filterProducts.length > 0) {
                    products = filterProducts
                } else {
                    products = fiterCategoryProducts
                }
                if(this.filterParams[key].length > 0) {
                    for(let i = 0; i < this.filterParams[key].length; i++) {
                        let optionValue = this.filterParams[key][i];
                        for(let j = 0; j < products.length; j++) {
                            if(products[j].options[key] == optionValue) {
                                prod.push(products[j])
                            }
                        }
                    }
                }
                filterProducts = prod;
            })
            setTimeout(() => {
                if(filterProducts.length > 0) {
                    this.$store.commit('setFilterProducts', filterProducts)
                } else {
                    this.$store.commit('setFilterProducts', fiterCategoryProducts)
                }
            },1000)
        },
        getPrice() {
            let minPrice = 0;
            let maxPrice = 0;
            this.products.forEach(function(product) {
                if(product.price < minPrice || minPrice == 0) {
                    minPrice = product.price;
                }
                if(product.price > maxPrice || maxPrice == 0) {
                    maxPrice = product.price; 
                }
            });
            this.min = minPrice;
            this.max = maxPrice;
            this.price = [minPrice, maxPrice]
        },
        getCategories() {
            let categories = Array.from(new Set(this.products.map(item =>  item.category)));
            this.products.forEach(function(product) {
                if(!categories.includes(product.category))  {
                    categories.push(this.links[i]); 
                }
            });
            this.categories = categories;
            this.filterCategory = categories[0];
        },
        getOptions() {
            let products = this.products;
            let optionKeys = [];
            let options = [];
            this.products.forEach(function(product) {
                for (var key in product.options) {
                    if(!optionKeys.includes(key))  {
                        optionKeys.push(key); 
                    }
                }
            });
            optionKeys.forEach(function(key) {
                let option = {};
                option['title'] = key;
                option.values = [];
                products.forEach(function(product) {
                    let value = product.options[key];
                    if(!option.values.includes(value))  {
                        option.values.push(value); 
                    }
                });
                options.push(option);
            });
            this.options = options;
        }
    }
}
</script>
<style lang="scss">
.filter {
    margin-bottom: 20px;
    &-block {
        margin-bottom: 15px;
        &.price {
            .filter-title {
                margin-bottom: 30px;
            }
        }
    }
    &-title {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .checkbox {
        display: inline-block;
        margin-right: 10px;
    }
    .btn {
        text-transform: uppercase;
    }
}
</style>