<template>
    <div class="miniCart align-right">
        <span class="miniCart-sum">Total sum: <strong>{{ totalSum }}</strong></span>
        <span class="miniCart-count">Count: <strong>{{ totalCount }}</strong></span>
        <template v-if="cart.length > 0">
          <button class="btn btn-sm btn-light" @click="toggle = !toggle">List products</button>
          <div class="miniCart-list" v-if="toggle">
            <div class="miniCart-item" v-for="item of cart" :key="item.id">
              <router-link :to="'/product/' + item.id">
                <span class="miniCart-item_title">{{ item.title }} / count: {{item.count}}</span>
                <span class="miniCart-item_price">{{ item.price * item.count }} $</span>
              </router-link >
            </div>
          </div>
        </template>
    </div>
</template>
<script>
export default {
    name: 'miniCart',
    data() {
      return {
        toggle: false
      }
    },
    computed: {
      cart() {
        return this.$store.getters.getCart;
      },
      totalSum() {
        let sum = 0;
        this.cart.forEach(function(item) {
          sum += item.price * item.count;
        });
        return sum;
      },
      totalCount() {
        let count = 0;
        this.cart.forEach(function(item) {
          count += item.count;
        });
        return count;
      }
    }
}
</script>
<style lang="scss">
.miniCart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 350px;
  position: relative;
  text-align: left;
  padding: 10px 0;
  & > span {
    margin: 0 10px;
  }
  &-list {
    border: 1px solid #eee;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
  }
  &-item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: block;
      font-size: 14px;
      color: #000;
      text-decoration: none;
    }
    &_title {
      margin-right: 10px;
    }
    &_price {
      font-weight: bold;
    }
  }
  @media (max-width: 768px) {
    & {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 420px) {
    & {
      max-width: 100%;
      justify-content: center;
    }
  }
}
</style>