<template>
    <div class="row">
        <div class="col-md-3 col-sm-4" v-for="item of products" :key="item.title">
            <div class="card productTpl">
            <div class="preview"><span>Image</span></div>
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">Price: {{ item.price }} $</p>
                <p class="card-text">Category: {{ item.category }}</p>
                <ul class="tags">
                    <li  v-for="option of item.options" :key="option" >{{ option }}</li>
                </ul>
                <router-link class="btn btn-primary" :to="'/product/' + item.id">Read more</router-link>
            </div>
            </div>
        </div>
    </div>
</template>
<script>  
export default {
    name: 'productList',
    props: ['products']
}
</script>
<style lang="scss">
.productTpl {
  margin-bottom: 30px;
  .preview {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  p {
      margin-bottom: 5px;
  }
  .tags {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
          background: #ccc;
          display: inline-block;
          margin: 0 5px 5px 0;
          padding: 4px 10px;
          border-radius: 4px;
      }
  }
}
</style>