<template>
  <div class="home">
    <div class="container">
      <h1>Home</h1>
      <product-list :products="products"></product-list>
      <div class="row">
        <router-link class="btn btn-success btn-products" to="/products">All products</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import ProductList from '@/components/ProductList.vue'


export default {
  name: 'home',
  components: {
    'product-list': ProductList
  },
  computed: {
    products() {
      return this.$store.getters.getMainProducts;
    }
  }

}
</script>
