<template>
    <div class="product">
        <div class="container">
            <div v-if="currentProduct" class="product-holder" :key="id">
                <div class="product-preview"></div>
                <div class="product-description">
                    <h1 class="product-title">{{ currentProduct.title }}</h1>
                    <span class="product-price">{{ currentProduct.price }} $</span>
                    <button class="btn btn-success" @click="addCart(currentProduct)">Buy</button>
                </div>
            </div>
            <template v-if="nextProducts">
                <h2>Next products</h2>
                <product-list :products="nextProducts"></product-list>
            </template>
        </div>
    </div>
</template>

<script>
import ProductList from '@/components/ProductList.vue'
export default {
    name: 'product',
    data() {
        return {
            id: this.$router.currentRoute.params['id']
        }
    },
    components: {
        'product-list': ProductList
    },
    created() {
        this.$store.dispatch('loadCurrentProduct', this.id);
    },
    updated() {
        this.$store.dispatch('loadCurrentProduct', this.id)
    },
    computed: {
        products() {
            return this.$store.getters.getProducts;
        },
        currentProduct() {
            return this.$store.getters.getCurrentProduct;
        },
        nextProducts() {
            let idProduct = this.id;
            let indexProduct = this.products.findIndex((n) => {
                return n.id == idProduct;
            });
            let nexProducts = this.products.slice(indexProduct + 1, indexProduct+3);
            if(nexProducts.length == 0) {
                return false
            } else {
                return this.products.slice(indexProduct + 1, indexProduct+3)
            }
        }
    },
    watch: {
        $route(toR, fromR) {
            this.id = toR.params['id']
        }
    },
    methods: {
        addCart(currentProduct) {
            this.$store.dispatch('addCart', currentProduct);
        }
    }
}
</script>
<style lang="scss">
.product {
    h1 {
        text-align: left;
    }
    &-holder {
        display: flex;
        margin-bottom: 30px;
    }
    &-preview {
        background: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 150px;
        margin-right: 30px;
    }
    &-description {
        flex-grow: 1;
    }
    &-price {
        display: block;
        margin-bottom: 10px;
    }
    @media (max-width: 640px) {
        &-holder {
            flex-wrap: wrap;
        }
        &-preview {
            margin: 0 auto 25px;
        }
        &-description {
            width: 100%;
        }
    }
}
</style>