<template>
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <aside>
                        <filter-products></filter-products>
                    </aside>
                </div>
                <div class="col-md-8">
                    <h1>Products</h1>
                    <product-list :products="products"></product-list>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Filter from '@/components/Filter.vue'
import ProductList from '@/components/ProductList.vue'
export default {
    name: 'products',
    components: {
        'product-list': ProductList,
        'filter-products': Filter
    },
    computed: {
        products() {
            return this.$store.getters.getFilterProducts;
        }
    }
}
</script>
